<h1>Список лікарів по категоріям</h1>

<% @categories_all.each do |category| %>
  <h2><%= category.name %></h2>
  <% category.doctors.each do |doctor| %>
    <p>Name: <%= doctor.name %></p>
    <p>Phone number: <%= doctor.phone %></p>
    <%= link_to 'Записатися на прийом', new_appointment_path(doctor_id: doctor.id) %>
  <% end %>
<% end %>